html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-image: url("header-shapes\ mobile@2x.png");
  background-repeat: repeat-y;
  background-size: contain;
}

nav {
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;
}

a {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
  color: #344563;
}
nav > p {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.headline-content {
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 360px;
}

h1 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #505f79;
}

h3 {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #505f79;
}

li {
  padding-right: 20px;
}
