html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-image: url("header-shapes\ mobile@2x.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

nav {
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;
}

p {
  display: flex;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  text-align: left;
}

a {
  font-family: Poppins, sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 20px;
  color: #344563;
}

nav > p {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.headline-content {
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 360px;
}

h1 {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #505f79;
  margin-bottom: 20px;
}

h3 {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  color: #505f79;

}

li {
  padding-right: 20px;
}

.portfolio-img {
  display: flex;
  justify-self: center;
}

.works  div {
  display: grid;
  justify-content: center;
  margin: 10px;
  margin-bottom: 200px;
}

.canopy {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.work-header > ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.bullet {
  width: 8px;
  height: 8px;
  left: 67px;
  padding-right: 20px;
  padding-top: 3px;
}

.tags {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.tags > li {
  background-color: #eBeBff;
  border-radius: 10px;
  padding: 5px;
  margin-right: 10px;
  padding: 4px 12px;
}

.works  p {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

li > p {
  margin: 0;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  border-color: #396df2;
  height: 48px;
  padding: 12px;
  width: 124px;
  color: #396df2;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

button:hover {
  background-color: #6070ff;
  box-shadow: 0px 8px 16px 
    rgba(64, 83, 252, 0.24);
  color: #ffffff;
  transition-duration: .5s;
}

button:disabled {
  color: #5e6c84;
  border-color: #5e6c84;
  background-color: transparent;
}

button:active {
  background-color: #2230d2;
  color: #ffffff;
  transition-duration: 0s;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.languages {
  display: flex;
  flex-direction: column;
}

.open-list {
  display: flex;
  background-color: #f7f7f9;
  margin-bottom: 5px;
  align-items: center;
  border-radius: 8px;
  color: #253858;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.open-list img {
  padding: 10px 15px;
}

.languages li {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 20px;
  padding-top: 20px;
}

hr {
  border: 1px solid #dfe1e6;
  width: 327px;
}